*.o
*.a
*.out

bin/

data/b+tree/command.txt
data/b+tree/mil.txt
data/bfs/graph1MW.txt
data/bfs/graph4096.txt
data/bfs/graph65536.txt
data/bfs/inputGen/graphgen
data/cfd/fvcorr.domn.097K
data/cfd/fvcorr.domn.193K
data/cfd/missile.domn.0.2M
data/dwt2d/192.bmp
data/dwt2d/inputGen/create
data/dwt2d/rgb.bmp
data/gaussian/matrix1024.txt
data/gaussian/matrix16.txt
data/gaussian/matrix208.txt
data/gaussian/matrix3.txt
data/gaussian/matrix4.txt
data/heartwall/input.txt
data/heartwall/test.avi
data/hotspot/inputGen/hotspotex
data/hotspot/inputGen/hotspotver
data/hotspot/power_1024
data/hotspot/power_512
data/hotspot/power_64
data/hotspot/temp_1024
data/hotspot/temp_512
data/hotspot/temp_64
data/hotspot3D/power_512x2
data/hotspot3D/power_512x4
data/hotspot3D/power_512x8
data/hotspot3D/power_64x8
data/hotspot3D/temp_512x2
data/hotspot3D/temp_512x4
data/hotspot3D/temp_512x8
data/hotspot3D/temp_64x8
data/huffman/test1024_H2.206587175259.in
data/hybridsort/500000.txt
data/kmeans/100
data/kmeans/204800.txt
data/kmeans/819200.txt
data/kmeans/inputGen/datagen
data/kmeans/kdd_cup
data/leukocyte/testfile.avi
data/leukocyte/testfile.avi.xz
data/lud/2048.dat
data/lud/256.dat
data/lud/512.dat
data/lud/64.dat
data/mummergpu/NC_003997.20k.fna
data/mummergpu/NC_003997.fna
data/mummergpu/NC_003997_q100bp.fna
data/mummergpu/NC_003997_q25bp.50k.fna
data/myocyte/params.txt
data/myocyte/y.txt
data/nn/cane640k_64_0.db
data/nn/cane640k_64_1.db
data/nn/cane640k_64_10.db
data/nn/cane640k_64_11.db
data/nn/cane640k_64_12.db
data/nn/cane640k_64_13.db
data/nn/cane640k_64_14.db
data/nn/cane640k_64_15.db
data/nn/cane640k_64_16.db
data/nn/cane640k_64_17.db
data/nn/cane640k_64_18.db
data/nn/cane640k_64_19.db
data/nn/cane640k_64_2.db
data/nn/cane640k_64_20.db
data/nn/cane640k_64_21.db
data/nn/cane640k_64_22.db
data/nn/cane640k_64_23.db
data/nn/cane640k_64_24.db
data/nn/cane640k_64_25.db
data/nn/cane640k_64_26.db
data/nn/cane640k_64_27.db
data/nn/cane640k_64_28.db
data/nn/cane640k_64_29.db
data/nn/cane640k_64_3.db
data/nn/cane640k_64_30.db
data/nn/cane640k_64_31.db
data/nn/cane640k_64_32.db
data/nn/cane640k_64_33.db
data/nn/cane640k_64_34.db
data/nn/cane640k_64_35.db
data/nn/cane640k_64_36.db
data/nn/cane640k_64_37.db
data/nn/cane640k_64_38.db
data/nn/cane640k_64_39.db
data/nn/cane640k_64_4.db
data/nn/cane640k_64_40.db
data/nn/cane640k_64_41.db
data/nn/cane640k_64_42.db
data/nn/cane640k_64_43.db
data/nn/cane640k_64_44.db
data/nn/cane640k_64_45.db
data/nn/cane640k_64_46.db
data/nn/cane640k_64_47.db
data/nn/cane640k_64_48.db
data/nn/cane640k_64_49.db
data/nn/cane640k_64_5.db
data/nn/cane640k_64_50.db
data/nn/cane640k_64_51.db
data/nn/cane640k_64_52.db
data/nn/cane640k_64_53.db
data/nn/cane640k_64_54.db
data/nn/cane640k_64_55.db
data/nn/cane640k_64_56.db
data/nn/cane640k_64_57.db
data/nn/cane640k_64_58.db
data/nn/cane640k_64_59.db
data/nn/cane640k_64_6.db
data/nn/cane640k_64_60.db
data/nn/cane640k_64_61.db
data/nn/cane640k_64_62.db
data/nn/cane640k_64_63.db
data/nn/cane640k_64_7.db
data/nn/cane640k_64_8.db
data/nn/cane640k_64_9.db
data/nn/inputGen/hurricanegen
data/nn/list640k_64.txt
data/srad/image.pgm

opencl/backprop/backprop
opencl/bfs/bfs
opencl/cfd/euler3d
opencl/dwt2d/dwt2d
opencl/gaussian/gaussian
opencl/heartwall/heartwall
opencl/hotspot/hotspot
opencl/hotspot3D/3D
opencl/hybridsort/hybridsort
opencl/kmeans/kmeans
opencl/lavaMD/lavaMD
opencl/leukocyte/OpenCL/leukocyte
opencl/lud/ocl/lud
opencl/nn/nn
opencl/nw/nw
opencl/particlefilter/OCL_particlefilter_double
opencl/particlefilter/OCL_particlefilter_naive
opencl/particlefilter/OCL_particlefilter_single
opencl/pathfinder/pathfinder
opencl/srad/output/
opencl/srad/srad
opencl/streamcluster/streamcluster

openmp/backprop/backprop
openmp/bfs/bfs
openmp/cfd/euler3d_cpu
openmp/cfd/euler3d_cpu_double
openmp/cfd/pre_euler3d_cpu
openmp/cfd/pre_euler3d_cpu_double
openmp/heartwall/heartwall
openmp/hotspot/hotspot
openmp/hotspot3D/3D
openmp/kmeans/kmeans_openmp/kmeans
openmp/lavaMD/lavaMD
openmp/leukocyte/OpenMP/leukocyte
openmp/lud/omp/lud_omp
openmp/mummergpu/bin/
openmp/mummergpu/src/obj/
openmp/nn/nn
openmp/nw/needle
openmp/particlefilter/particle_filter
openmp/pathfinder/pathfinder
openmp/srad/srad_v1/srad
openmp/srad/srad_v2/srad
openmp/streamcluster/sc_cpu
openmp/streamcluster/sc_omp

cuda/backprop/backprop
cuda/bfs/bfs
cuda/cfd/euler3d
cuda/cfd/euler3d_double
cuda/cfd/pre_euler3d
cuda/cfd/pre_euler3d_double
cuda/dwt2d/dwt2d
cuda/gaussian/gaussian
cuda/heartwall/heartwall
cuda/hotspot/hotspot
cuda/hotspot3D/3D
cuda/huffman/pavle
cuda/hybridsort/hybridsort
cuda/kmeans/kmeans
cuda/lavaMD/lavaMD
cuda/leukocyte/CUDA/leukocyte
cuda/lud/cuda/lud_cuda
cuda/mummergpu/bin/
cuda/mummergpu/src/obj/
cuda/nn/hurricane_gen
cuda/nn/nn
cuda/nn/nn_cuda.cu.cpp.ii
cuda/nw/needle
cuda/particlefilter/particlefilter_float
cuda/particlefilter/particlefilter_naive
cuda/pathfinder/pathfinder
cuda/srad/srad_v1/image_out.pgm
cuda/srad/srad_v1/srad
cuda/srad/srad_v2/srad
cuda/streamcluster/sc_gpu
